---
import { Header } from "../components/Header";
import { Footer } from "../components/Footer";
import "../styles/global.css";

import "@fontsource-variable/quicksand";
import "@fontsource/cardo";
---

<html lang="es">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://api.fontshare.com/v2/css?f[]=quicksand@400,500&f[]=cabinet-grotesk@500,700&display=swap" rel="stylesheet">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Iván Rodríguez | Portfolio</title>
  <meta
    name="description"
    content="Freelance Frontend Developer with FullStack knowledge. I specialize in building modern web applications, e-commerce platforms and more."
  />

  <body class="bg-linear-to-b from-gray-900 to-gray-950/95 text-gray-600">
    <Header client:load />
    <main>
      <slot />
    </main>
    <Footer client:visible />
  </body>

  <style is:global>
    body {
      margin: 0;
    }

    .header-animation {
      animation: fadeToGray linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
    }

    @keyframes fadeToGray {
      to {
        backdrop-filter: blur(4px);
        background-color: #372aac30;
      }
    }

    /* .link {
      color: #71717b;
      animation: grayToWhite linear both;
      animation-timeline: scroll();
      animation-range: 0 1px;
    }
    .link.active {
      color: #fff;
    }
    @keyframes grayToWhite {
      to {
        color: #e4e4e7;
      }
    } */

    body {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
    }
    .font-title {
      font-family: "Cabinet Grotesk", sans-serif;
      font-weight: 700;
    }
    html {
      scroll-behavior: smooth;
    }
  </style>
</html>
